uvicorn
fastapi
asgi_correlation_id
fastapi-limiter
fastapi-pagination
redis
asgiref
loguru
pydantic-settings
cryptography
itsdangerous
pydantic-extra-types
phonenumbers
msgspec
sqlalchemy[asyncio]
pydantic[email]
sqlalchemy-crud-plus
asyncmy
aiohttp
httpx
fast-captcha
python-jose[cryptography]
passlib
xmltodict
python-multipart
pycryptodome
pyyaml
ua-parser
user-agents
XdbSearchIP
bcrypt==3.2.0
aiofiles
openai
pendulum
python-docx
pymupdf
python-pptx
xpinyin
scikit-learn
pytesseract
beautifulsoup4
Jinja2
htmldocx
imgkit
pdfkit
numpy
pandas
tiktoken
markdown
torch
transformers
